/* HOW TO
// ----------------------------------------------------------------------------
// System Setup
// ----------------------------------------------------------------------------
// Requirements to compile this theme on your system
//
// copy this theme in your sites/all/themes folder and rename it, and the
// .info file according to the project name.
//
// Install the following stuff (only required the first time,
// if your haven't used this theme before)
//
// -- Install node.js
// -- npm install -g gulp
//
// make sure you close and re-open your command-line after installation
// otherwise it won't register the $path of the newly installed node modules
//
// go to the theme folder
// -- run "npm install"
//
// and that should be it.
//
// during dev, run "gulp watch"
// when done, run "gulp"

// ----------------------------------------------------------------------------
// PostCSS plugins (see postcss:processors in gulpfile.js)
// ----------------------------------------------------------------------------
// Checkout the NPM pages for more info on the used plugins
// ----------------------------------------------------------------------------
// https://www.npmjs.com/package/normalize-scss
// https://www.npmjs.com/package/breakpoint-sass
// https://www.npmjs.com/package/singularitygs
// https://www.npmjs.com/package/slick-carousel

// Make sure to commit the changed gulpfile.js if you change plugin configs !!!

// Load svg from source
// background-image: svg("eye.svg", "[fill]: #fff");
//
// Load image from source
// background-image: inline("icon-server.png");
*/

// ----------------------------------------------------------------------------
// Libraries
// ----------------------------------------------------------------------------

@import 'node_modules/normalize-scss/sass/normalize.scss';
@import 'node_modules/breakpoint-sass/stylesheets/breakpoint.scss';
<% if( props.npm.slick ) { %>@import 'node_modules/slick-carousel/slick/slick.scss';<% } %>
<% if( props.npm.singularity ) { %>@import 'node_modules/singularitygs/stylesheets/singularitygs.scss';<% } %>



// ----------------------------------------------------------------------------
// Custom imports
// ----------------------------------------------------------------------------

@import 'variables.scss';
@import 'mixins';
@import 'debug';

// ----------------------------------------------------------------------------
// Styles
// ----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-size: 1.3rem;
  line-height: 1.2;
}

// -----------------------------
// Typography
// -----------------------------
h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 3.0rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.4rem;
}